<div class="side-nav-icon-bar">
  <a class="active" href="#">
      <i class="fa fa-home" aria-hidden="true"></i>
  </a> 
  <a href="#">
    <i class="fa fa-university" aria-hidden="true"></i>
  </a> 
  <a href="#"  >
    <i class="fa fa-users" aria-hidden="true"></i>
  </a> 
  <a href="#">
    <i class="fa fa-file" aria-hidden="true"></i>
  </a>
  <a  class="bottom-second" href="#">
    <i class="fa fa-user" aria-hidden="true"></i>
  </a> 
  <a  class="bottom-first" href="#">
    <i class="fa fa-cogs" aria-hidden="true"></i>
  </a> 
</div>