.side-nav-icon-bar {
    height: 100vh;
    width: 50px;
    text-align: center;
    background-color: #292f38;

    a {
        padding: 16px;
        display: block;
        transition: all 0.3s ease;
        color: white;
        font-size: 15px;
    }
    .active {
        background-color: darkslategrey;
    }

    a:hover{
        background-color: #000;
    }

    .bottom{
        position:absolute;    
    }
    .bottom-first{
        @extend .bottom;
        bottom:0px;
    }
    .bottom-second{
        @extend .bottom;
        bottom:50px;
    }

}

